body {
  background: #f6f5f3;
  overflow-y: scroll;
}
article {
  display: inline-block;
  padding: 3px;
  border: 1px solid #ccc;
  margin: 3px 2px;
  min-height: 77px;
  vertical-align: top;
}
article > * {
  z-index: 2;
  background: rgba(255,255,255,0.667);
}
article .images {
  z-index: -1;
  position: absolute;
}
span {
  display: block;
}
span a {
  margin: 1px 4px 1px 0;
}
span a:hover {
  background-color: #efeebf;
  text-decoration: none;
  color: #333;
}
span a:focus {
  background-color: #efeebf;
  text-decoration: none;
  color: #333;
}
span span {
  display: inline;
}
span.tags {
  color: #999;
}
span.tag {
  margin-right: 5px;
}
span.lesser {
  font-size: 11px;
  color: #777;
}
span.huge {
  font-size: 28px;
  color: #ec3a3c;
}
span.center {
  text-align: center;
}
span.monospace {
  font-family: monospace;
}
a.open-blank {
  color: #575854;
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 13px;
}
div.open-blank {
  height: 17px;
}
div.open-blank:hover {
  background: #fefefa;
}
div.block {
  display: block;
}
hr {
  border: 1px solid #eee;
  margin: 2px 10px;
}
.popup-tag-menu {
  background-color: #ddf;
  position: fixed;
  border: 3px solid #888;
  top: 200px;
  left: 300px;
}
.popup-tag-menu span {
  padding: 1px 10px 1px 5px;
}
.popup-tag-menu span:hover {
  background-color: #bbe;
}
.popup-article-menu {
  background-color: #dfd;
  position: fixed;
  border: 3px solid #666;
  top: 400px;
  left: 300px;
}
.hidden {
  display: none;
}
.title-line {
  height: 1.1em;
}
.records-line {
  height: 1em;
}
.tags-line {
  height: 1em;
}
.comment-line {
  height: 0.62em;
}
span.kccalc {
  display: inline;
}
input[type=number] {
  -moz-appearance: textfield;
}
span.toggle {
  margin: 2px 4px;
}
span.off {
  background: #bbb;
}
span.on {
  background: #eee;
}
