
body
  background: #f6f5f3
  overflow-y: scroll

article
    display: inline-block
    padding: 3px
    border: 1px solid #ccc
    margin: 3px 2px
    min-height: 77px
    vertical-align: top
    > *
      z-index: 2
      background: #fffa
    .images
      z-index: -1
      position: absolute

span
   display: block
   a
     margin: 1px 4px 1px 0
     &:hover
       background-color: #efeebf
       text-decoration: none
       color: #333
     &:focus
       background-color: #efeebf
       text-decoration: none
       color: #333
   span
     display: inline
   &.tags
     color: #999
   &.tag 
     margin-right: 5px
   &.lesser 
     font-size: 11px
     color: #777
   &.huge
     font-size: 28px
     color: #ec3a3c
   &.center
     text-align: center
   &.monospace
     font-family: monospace

a
   &.open-blank
     color: #575854
     text-decoration: none
     width: 100%
     display: block
     text-align: center
     font-size: 13px


div
   &.open-blank
     height: 17px
     &:hover
       background: #fefefa
   &.block
     display: block

hr
    border: 1px solid #eee
    margin: 2px 10px

.popup-tag-menu
   background-color: #ddf
   position: fixed
   border: 3px solid #888
   top: 200px
   left: 300px
   span
     padding: 1px 10px 1px 5px
     &:hover
       background-color: #bbe

.popup-article-menu
   background-color: #dfd
   position: fixed
   border: 3px solid #666
   top: 400px
   left 300px

.hidden
   display: none


.title-line
  height: 1.1em
.records-line
  height: 1em
.tags-line
  height: 1em
.comment-line
  height: 0.62em


span.kccalc { display: inline; }
input[type=number] { -moz-appearance: textfield;}

span.toggle { margin: 2px 4px; }
span.off { background: #bbb; }
span.on { background: #eee; }


